fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
python-multipart
loguru
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
cryptography
python-dotenv
pandas
openpyxl
requests
chardet
boto3
pydantic-settings
stripe
reportlab
beautifulsoup4
lxml
html5lib
PyPDF2